<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block  title %}
    <title>首页_流程管理系统</title>
    {% endblock %}
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>


<body>
    <div class="pg-main">
        <div class="pg-head">
            <div class="left"><a href="/"><img class="logo" src="/static/images/logo.png"></a> 物料管理系统</div>
            <div class="right"><a href="/logout" class="logout">退出</a></div>
            <div class="username">当前账号：<i id="current_user">{{ request.session.username }}</i></div>
        </div>
    <div class="pg-body">
  
    <div class="pg-tool">
        <button class="btn left element" ><a href="/"><i class="fa fa-home" aria-hidden="true"></i> 首页</a></button>
        {% block tool%}
        
        {# 权限验证 #}
        {% if request.session.username == "admin" or request.session.username == "jihua" %}
        <button class="btn left element" id="add-item"><a href="/edit"><i id="add-item" class="fa fa-plus-square" aria-hidden="true"></i> 添加订单</a></button>
        {% endif %}
        <span class="left tip">每页显示数量：</span>
        <select id="per_page" class="form-control status-select left element">
        
        </select>
        总数量：{{ item_count }}
        {% endblock %}

        {% block search %}

        <form id="search-form" action="/" method="get" class="right form-inline">
        <label>排产日期：</label>
        <input id="search-date" type="date" name="search-date" class="form-control" value="{{ search_date }}">
        <input type="search" id="search-title" name="search-title" placeholder="订单号" value="{{ search_title }}" class="form-control">
        <input type="submit" class="btn" value="搜索订单">
        </form>
        {% endblock %}
    </div>


    {% block table %}
    <table class="table table-striped table-bordered">
        <thead><tr><th>序号</th><th>运营商</th><th>批次号</th><th>备注</th><th>预数据</th><th>个数据</th>
            <th>标签</th><th>卡基</th><th>模块</th><th>排产日期</th><th>白/夜</th><th>编辑</th>
        
        {# 权限验证 #}
        {% if request.session.username == "admin" or request.session.username == "jihua" %}
            <th>删除</th>
        {% endif %}
        </tr></thead>
        <tbody>
            {% for item in items %}
             <tr item-id="{{ item.uid }}">
                <!-- <td name='item-id'>{{ item.uid }}</td> -->  <!--id仅调试时显示-->
                <td>{{ start|add:forloop.counter }}</td>
                <td name='item-area'>{{ item.area }}</td>
                <td name='item-title'>{{ item.title }}</td>
                <td name='item-content' >
                    <div class="item-content">{{ item.content }}</div></td>
                <td name='item-predata' class="status"><span class="status-box"></span>{{ item.predata.name }}</td>
                <td name='item-data' class="status"><span class="status-box"></span>{{ item.data.name }}</td>
        
                <td name='item-label' class="status"><span class="status-box"></span>{{ item.label.name }}</td>
              <!--   <td name='item-template' class="status"><span class="status-box"></span>{{ item.template.name }}</td> -->
                <td name='item-card' class="status"><span class="status-box"></span>{{ item.card.name }}</td>
                <td name='item-chip' class="status"><span class="status-box"></span>{{ item.chip.name }}</td>
                <!-- <td name='item-material' class="status"><span class="status-box"></span>{{ item.material.name }}</td> -->
                <td name='item-time' class="center">{{ item.time|date:"Y-m-d" }}</td>
                <td name='item-time' class="center">{{ item.grade.name }}</td>
                <td name='item-eidt' class="center"><a href="/edit?uid={{ item.uid }}"><i class="fa fa-edit edit" aria-hidden="true"></i></a></td>
                {# 权限验证 #}
                {% if request.session.username == "admin" or request.session.username == "jihua" %}
                <td name='item-delete' class="center"><i class="fa fa-close delete" aria-hidden="true" data-toggle="modal" data-target="#delete-mode"></i></td>
                {% endif %}
             </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}


<!-- 分页信息 -->
{% block page_list %}
<div class="page">

    <i id="current-page" class="hide">{{ current_page }}</i>

    <button class="btn"><a href="/?page=1&search-date={{ search_date }}&search-title={{ search_title }}"><i class="fa fa-fast-backward" aria-hidden="true"></i> 首页</a></button>

    <button class="btn"><a href="/?page={{ prev_page }}&search-date={{ search_date }}&search-title={{ search_title }}"><i class="fa fa-backward" aria-hidden="true"></i> 上一页</a></button>
    {% for page in pages %}
    {% ifequal page current_page %}
    <a class="current" href="/?page={{ page }}&search-date={{ search_date }}&search-title={{ search_title }}">{{ page }}</a>
    {% else %}
    <a class="num" href="/?page={{ page }}&search-date={{ search_date }}&search-title={{ search_title }}">{{ page }}</a>
    {% endifequal %}
    {% endfor %}
    <button class="btn"><a href="/?page={{ next_page }}&search-date={{ search_date }}&search-title={{ search_title }}">下一页 <i class="fa fa-forward" aria-hidden="true"></i></a></button>
    <button class="btn"><a href="/?page={{ total }}&search-date={{ search_date }}&search-title={{ search_title }}">末页 <i class="fa fa-fast-forward" aria-hidden="true"></i></a></button>
</div>
{% endblock %}
<!-- 分页信息结束 -->

<!-- 删除确认框 开始-->
<div class="modal fade" id="delete-mode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">  
    <div class="modal-dialog" role="document">  
        <div class="modal-content">  
            <div class="modal-header">  
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">  
                    <span aria-hidden="true">×</span>  
                </button>  
                <h4 class="modal-title" id="myModalLabel">确认删除</h4>  
            </div>  
            <div class="modal-body">  
                <p>请确认是否删除？</p>
                
                <span id="delete-area"></span> | <span id="delete-title"></span>
            </div>  
            <div class="modal-footer">  
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>  
                <form action="/delete" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input id="delete-id" type="text" name="item-id" class="hide" value="">
                    <button type="submit" class="btn btn-primary">确认删除</button>  
                </form>
            </div>  
        </div>  
    </div>  
</div>  </div> </div> 
<!-- 删除确认框 结束-->

    <!-- 版权信息  -->

    <div class="pg-footer">
        &copy;2018 技术支持：pengshiyuyx@gmail.com
    </div>
    <!-- 版权信息结束  -->

    <script src="/static/bootstrap-3.3.7-dist/js/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/static/js/index.js"></script>

    {% block endbody %}
    {% endblock %}
</body>
</html>