<!DOCTYPE html>
<html>
<head>
<title>登录</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/static/css/login.css" rel='stylesheet' type='text/css' />
</head>
<body>
	<div class="main">
		<div class="login">
			<h1>管理系统</h1>
			<div class="inset">
				<!--start-main-->
				<form action="/login" method="post">
					{% csrf_token %}
			         <div>
			         	<h2>管理登录</h2>
						<span><label>用户名</label></span>
						<span><input type="text" class="textbox" name="username"></span>
					 </div>
					 <div>
						<span><label>密码</label></span>
					    <span><input type="password" class="password" name="pwd"></span>
					 </div>
					<div class="sign">
                        <input type="submit" value="登录" class="submit" />
					</div>
					</form>
				</div>
			</div>
		<!--//end-main-->
		</div>

<div class="copy-right">
	<p>&copy; 2018 All Rights Reserved</p>
</div>

</body>
</html>